.container-custom {
            max-width: 1000px;
            margin: 30px auto;
            padding: 20px;
            background: white;
            border-radius: 10px;
            box-shadow: 0 0 15px #ccc;
        }
        h1 { color: #003057; text-align: center; margin-bottom: 30px;}
        .card-container { display: flex; gap: 20px; flex-wrap: wrap; justify-content: center; }
        .card {
            flex: 1 1 300px;
            background: #007bff;
            color: white;
            padding: 40px;
            border-radius: 12px;
            text-align: center;
            cursor: pointer;
            transition: 0.3s;
            font-size: 20px;
            border: none;
        }
        .card i { font-size: 50px; margin-bottom: 15px; display: block; }
        .card:hover { background-color: #0056b3; transform: translateY(-5px); box-shadow: 0 5px 15px rgba(0,0,0,0.2); }