header {
            background-color: rgba(0, 48, 87, 0.65);
            padding: 15px 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: white;
        }

        .header-title {
            font-size: 22px;
            font-weight: bold;
        }

        nav a {
            color: #F0FFFF;
            text-decoration: none;
            margin-left: 25px;
            font-size: 17px;
            font-weight: bold;
        }

        nav i {
            margin-right: 6px;
        }

        nav a:hover {
            text-decoration: underline;
        }

nav form {
    display: inline-block;
    margin-left: 25px;
}

.appointment-btn {
    padding: 1rem 1.5rem;
    font-weight: bold;
    border-radius: 2rem;
    transition: 0.25s ease;
}


