{% extends 'layout/base.html' %}

{% block content %}
<div class="container-fluid mt-4 px-4">

    <!-- MỘT KHUNG TRẮNG DUY NHẤT -->
    <div class="card">
        <div class="card-body">

            <!-- TIÊU ĐỀ -->
            <h3 class="mb-4">Danh sách khách hàng</h3>

            <!-- DANH SÁCH -->
            <table class="table table-bordered table-hover mb-0">
                <thead class="table-light">
                    <tr>
                        <th>Họ và tên</th>
                        <th>Số điện thoại</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in customers %}
                    <tr>
                        <td>{{ c.HoVaTen }}</td>
                        <td>{{ c.SDT }}</td>
                        <td>{{ c.tai_khoan.Email if c.tai_khoan }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

</div>
{% endblock %}
