{% extends 'layout/base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/box_form.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
<div class="container-custom">
    <h1>Xin chào Bác sĩ</h1>
    <div class="card-container">
        <div class="card" onclick="window.location.href='{{ url_for('create_treatment') }}'">
            <i class="fas fa-file-medical"></i>
            Lập Phiếu Điều Trị
        </div>
        <div class="card" onclick="window.location.href='{{ url_for('medicine_page') }}'">
            <i class="fas fa-pills"></i>
            Lập Toa Thuốc
        </div>
    </div>
</div>
{% endblock %}