{%extends 'layout/base.html'%}
{%block content%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/box_form.css') }}">
<script src="{{ url_for('static', filename='js/MakeAppointment.js') }}"></script>
<body>
<div class="box">
    <form action="/MakeAppointment" method="POST">
        <div class="mb-3 mt-3">
            <label for="name" class="form-label">Họ và tên:</label>
            <input type="text" class="form-control" id="name" placeholder="Hãy nhập tên của bạn" name="name" required>
        </div>
        <div>
            <label for="day">Chọn ngày:</label>
            <input type="date" class="form-control" id="day" name="day" required>
        </div>
        <div>
            <label for="time">Chọn giờ (08:00 - 17:00):</label>
            <input type="text" class="form-control flatpickr-time" id="time" name="time" placeholder="Chọn giờ..."
                   required>
            <small id="timeHelp" class="form-text text-danger"></small>
        </div>
        <div class="mb-3">
            <label for="dentist" class="form-label">Bác sĩ:</label>
            <select class="form-select" id="dentist" name="dentist">
                {%for n in dentists%}
                <option value="{{n.id}}">{{n.HoVaTen}}</option>
                {%endfor%}
            </select>
        </div>
        <div class="mb-3">
            <label for="service" class="form-label">Dịch vụ:</label>
            <select class="form-select" id="service" name="service">
                {% for dv in services %}
                <option value="{{ dv.id }}">
                    {{ dv.TenDichVu }}
                </option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Đặt lịch ngay</button>
    </form>
</div>
</body>
{%endblock%}
</html>