{% extends 'layout/base.html' %}
{% block content %}
<div class="container mt-4">
    <h2>Lập Phiếu Điều Trị</h2>
    <form class="bg-white p-3 rounded shadow-sm mb-3" method="post" action="{{ url_for('create_treatment') }}">
        <div class="mb-3">
            <label>Bác sĩ phụ trách:</label>
            <input type="text" class="form-control" value="{{current_user.nguoi_dung.HoVaTen}}" readonly disabled>
        </div>
        <div class="mb-3">
            <label for="customer" class="form-label">Chọn Khách hàng:</label>
            <select class="form-select" id="customer" name="customer_id" required>
                <option value="" selected disabled>-- Chọn bệnh nhân --</option>
                {% for kh in den_cus %}
                <option value="{{ kh.id }}">{{ kh.HoVaTen }} (SĐT: {{ kh.SDT }})</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Chẩn đoán:</label>
            <textarea class="form-control" name="diagnosis" rows="3" placeholder="Nhập chẩn đoán bệnh..."></textarea>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Tạo phiếu & Thêm dịch vụ</button>
    </form>
</div>
{% endblock %}