{%extends 'layout/base.html'%}

{%block content%}
<body>

<form action="/">
    <div class="mb-3 mt-3">
        <label for="name" class="form-label">Họ và tên:</label>
        <input type="text" class="form-control" id="name" placeholder="Hãy nhập tên của bạn" name="name">
    </div>
    <div class="mb-3 row g-3 align-items-center">
        <div class="col-md-6">
            <label for="day">Chọn ngày:</label>
            <input type="date" id="day" name="day">
        </div>
        <div class="col-md-6">
            <label for="time">Chọn giờ:</label>
            <input type="time" id="time" name="time">
        </div>
    </div>
    <div class="mb-3">
        <label for="dentist" class="form-label">Bác sĩ:</label>
        <select class="form-select" id="dentist" name="dentist">
            <option>Phạm Trần Hữu Khánh</option>
            <option>Nguyễn Hoài An</option>
            <option>Nguyễn Anh Khoa</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="service" class="form-label">Dịch vụ:</label>
        <select class="form-select" id="service" name="service">
            <option>Trồng răng</option>
            <option>Trám răng</option>
            <option>Cạo cao răng</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Đặt lịch ngay</button>
</form>
</body>
{%endblock%}

</html>