<link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/box_form.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">


<header>
    <div class="header-title">
        <i class="fas fa-tooth"></i> Phòng khám Dental Trio
    </div>

    <nav>
     <a href="{% if current_user.is_authenticated and current_user.Role == UserRole.ADMIN %}/admin{% else %}/{% endif %}">
    <i class="fa-solid fa-house"></i> Trang chủ
</a>


        <div class="dropdown">
            <a>
                <i class="fa-solid fa-stethoscope"></i> Dịch vụ
            </a>

            <div class="dropdown-content">
                {% for dv in services %}
                <a href="#"><!--href="/service/{{ dv.MaDichVu }}"-->
                    <i class="fa-solid fa-angle-right"></i> {{ dv.TenDichVu }}
                </a>
                {% endfor %}
            </div>
        </div>

        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=tp281973555k@gmail.com" target="_blank">
            <i class="fa-solid fa-phone"></i> Liên hệ
        </a>

        {% if current_user.is_authenticated %}
        <a href="/profile">
    <img src="{{ current_user.Avatar }}" width="28">
    Chào {{ current_user.nguoi_dung.HoVaTen }}!
</a>


        <a href="/logout">
            <img src="https://cdn-icons-png.flaticon.com/128/1286/1286907.png" width="25">
            Đăng xuất
        </a>

        {% else %}
        <a href="/login">
            <button class="appointment-btn"><i class="fa-solid fa-user-plus"></i> Đăng nhập để đặt lịch hẹn</button>
        </a>
        {% endif %}

        {% if current_user.Role == UserRole.KHACHHANG %}
        <a class="appointment-btn" href="/MakeAppointment">
            Đặt lịch hẹn
        </a>
        {% endif %}
    </nav>
</header>
